.far-and-close-tables-container {
  margin-bottom: 40px;

  .table-container {
    overflow-x: scroll;
    padding-top: 20px;
    margin-bottom: 30px;
  }

  .table-container .table {
    margin-top: 20px;
  }

  .table-container .table .table-input {
    width: 100%;
    min-width: 80px;
    max-width: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .main-container {
    padding: 20px;
  }

  .title-container {
    margin-bottom: 30px;
  }

  .hide-container {
    display: none;
  }

  h1 {
    margin: 0;
  }

  .group-1-container .group-1-container__fields {
    margin: 20px 0 20px 0;
    text-align: center;
  }

  .group-1-container
    .group-1-container__fields
    .group-1-container__fields-input {
    width: 100%;
    max-width: 280px;
  }

  .group-2-container .issues-information-container,
  .group-3-container .history-pacient-container {
    margin: 20px 0 0 0;
  }

  .issues-information-container #main-problem-input,
  .history-pacient-input,
  .type-control-field
   {
    width: 100%;
  }

  .group-4-container .av-container {
    margin: 20px 0 0 0;

    .av-name-field {
      display: block;
    }

    .av-input {
      width: 100%;
      min-width: 60px;
      max-width: 80px;
      margin-right: 10px;
    }
  }

  .group-5-container .convergencia-container {
    margin: 20px 0 40px 0;
  }

  .group-5-container .convergencia-container .convergencia-field {
    margin-top: 20px;

    input {
      margin-left: 30px;
    }
  }

  .group-6-container .tests-container {
    display: grid;
    row-gap: 50px;
    margin-bottom: 40px;
  }

  .buttons-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .main-container {
    padding: 20px;
  }

  .title-container {
    margin-bottom: 30px;
  }

  .hide-container {
    display: none;
  }

  h1 {
    margin: 0;
  }

  .group-1-container .group-1-container__fields {
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .group-1-container
    .group-1-container__fields
    .group-1-container__fields-input {
    width: 100%;
    max-width: 280px;
  }

  .issues-information-container,
  .history-pacient-container {
    margin: 20px 0 0 0;
  }

  .issues-information-container #main-problem-input,
  .type-control-field,
  .history-pacient-input {
    width: 100%;
  }

  .group-4-container .av-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    justify-items: center;
    padding: 20px 0 50px 0;

    .av-name-field {
      display: block;
    }

    .av-input {
      width: 100%;
      min-width: 60px;
      max-width: 80px;
      margin-right: 10px;
    }
  }

  .convergencia-container {
    margin: 40px 0 40px 0;
  }

  .convergencia-container .convergencia-field {
    margin-top: 20px;
    text-align: center;

    input {
      margin-left: 30px;
    }
  }

  .tests-container {
    display: grid;
    row-gap: 50px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .group-7-container .far-close-tables-container {
    margin-bottom: 40px;
  }

  .buttons-container {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .main-container {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    margin: 0 auto;
  }

  .main-container__body {
    display: grid;
    justify-self: center;
    row-gap: 30px;
  }

  .group-1-container__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }

  .group-1-container__fields-input {
    width: 100%;
    max-width: 400px;
  }

  .issues-information-container {
    width: 100%;
    max-width: 900px;
    justify-self: center;

    #main-problem-input {
      width: 100%;
    }
  }

  .history-pacient-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
  }

  .av-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .av-inputs-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 150px));
    column-gap: 10px;
  }

  .motilidad-convergencia-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }

  .convergencia-container {
    display: grid;
    justify-content: center;
  }

  .tests-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .type-control-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .distanc-pupilar-class {
    grid-area: 2 / 1 / 3 / 3;
  }

  .type-glass-class {
    grid-area: 3 / 1 / 4 / 3;
  }

  .type-filter-class {
    grid-area: 4 / 1 / 5 / 3;
  }

  .observations-class {
    grid-area: 5 / 1 / 4 / 3;
  }
}
