<div class="motilidad-container">

  <div class="canva-motilidad-container">
    <app-eyes-canva
    [useBackgroundImg]="useBackgroundImg"
    [backgroundImgProps]="getImgBackground()"
    [canvasTitle]="'OD'"
    [canvasClassAndId]="'motilidad-od-canva'"
    [useDifferentSize]="true"
    ></app-eyes-canva>
  </div>

  <div class="canva-motilidad-container">
    <app-eyes-canva
    [useBackgroundImg]="useBackgroundImg"
    [backgroundImgProps]="getImgBackground()"
    [canvasTitle]="'OS'"
    [canvasClassAndId]="'motilidad-os-canva'"
    [useDifferentSize]="true"
    ></app-eyes-canva>
  </div>

</div>

